* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Playfair Display', serif;
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;

}

.navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.navbar ul li a:hover{
    border-radius: 4px;
    background: #716e9e;

}